@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
  font-weight: 400, 700;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Outfit;
  font-size: 0.938rem;
  background-color: hsl(212, 45%, 89%);
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.image-qr-code {
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 20px;
  max-width: 350px;
  text-align: center;
  
}
img {
  max-width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.text-box {
  padding: 5px;
  margin: auto;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-size: 25px;
  font-weight: 700;
  padding-top: 10px;
  width: 100%;
}

p {
  color: hsl(220, 15%, 55%);
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  font-weight: 400;

}
footer {
  text-align: center;
}

@media (max-width: 375px) {
  body {
    align-items: center;
  }
}
